#needs python 3.13.5
flask
python-dotenv
requests
google-generativeai
waitress
sentence_transformers
scikit-learn
pycryptodome
Pillow
pytesseract
opencv-python
mistralai
langchain
langchain-google-genai
