
#environment files with API keys
**/.env
#virtual environments
**/venv
# Ignore images
**/media
# Ignore test cases
**/test
# Ignore cache
**/__pycache__
# Ignore internal json files
**/*.json
# Ignore databases
**/*.db
